In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# import polars as pl

In [11]:
df = pd.read_csv('data/hospitals.csv')
df_phy = pd.read_csv('data/physicians.csv')
df_reviews = pd.read_csv('data/reviews.csv')

In [4]:
df.head()

   hospital_id              hospital_name hospital_state
0            0           Wallace-Hamilton             CO
1            1  Burke, Griffin and Cooper             NC
2            2                 Walton LLC             FL
3            3                 Garcia Ltd             NC
4            4    Jones, Brown and Murray             NC

In [7]:
df.shape

(30, 3)

In [9]:
df_phy.head()

,physician_name,physician_id,physician_dob,physician_grad_year,medical_school,salary
0,Joseph Johnson,0,1970-02-22,2000-02-22,Johns Hopkins University School of Medicine,309534.155076
1,Jason Williams,1,1982-12-22,2012-12-22,Mayo Clinic Alix School of Medicine,281114.503559
2,Jesse Gordon,2,1959-06-03,1989-06-03,David Geffen School of Medicine at UCLA,305845.584636
3,Heather Smith,3,1965-06-15,1995-06-15,NYU Grossman Medical School,295239.766689
4,Kayla Hunter DDS,4,1978-10-19,2008-10-19,David Geffen School of Medicine at UCLA,298751.355201

In [10]:
df_phy.shape

(500, 6)

In [15]:
df_reviews.head()

,review_id,visit_id,review,physician_name,hospital_name,patient_name
0,0,6997,The medical staff at the hospital were incredi...,Laura Brown,Wallace-Hamilton,Christy Johnson
1,9,8138,The hospital's commitment to patient education...,Steven Watson,Wallace-Hamilton,Anna Frazier
2,11,680,The hospital's commitment to patient safety wa...,Chase Mcpherson Jr.,Wallace-Hamilton,Abigail Mitchell
3,892,9846,I had a positive experience overall at the hos...,Jason Martinez,Wallace-Hamilton,Kimberly Rivas
4,822,7397,The medical team at the hospital was exception...,Chelsey Davis,Wallace-Hamilton,Catherine Yang

In [16]:
df_reviews.shape

(1005, 6)